<div class="content-container" *ngIf="transaction !== null && transaction !== undefined; else notFound">
  <div class="content-header">
    <h1 class="content-header-title">Transaction Details</h1>
  </div>


  <app-card>
    <div class="main-details">
      <h2>{{ amount | currency: localCurrencyCode }}</h2>
      <p>{{ transaction.timestamp | date:'dd/MM/yyyy HH:mm:ss' }}</p>
    </div>
  </app-card>

  <app-card label="description">
    <p>{{ transaction.description }}</p>
  </app-card>

  <app-card label="currency rate" *ngIf="isForeignCurrency === true">
    <p>{{ currencyRate }}</p>
  </app-card>

  <app-card label="other party" *ngIf="otherParty !== null">
    <div class="details-info">
      <strong>Name:</strong>
      <span>{{ otherParty.name }}</span>
    </div>

    <div class="details-info" *ngIf="otherParty.iban !== undefined">
      <strong>Iban:</strong>
      <span>{{ otherParty.iban }}</span>
    </div>
  </app-card>

  <app-card label="currency code" *ngIf="isForeignCurrency === true">
    <p>{{ transaction.currencyCode }}</p>
  </app-card>

  <app-card label="original amount" *ngIf="isForeignCurrency === true">
    <p>{{ originalAmount | currency: transaction.currencyCode }}</p>
  </app-card>
</div>-

<ng-template #notFound>
  <div class="content-container">
    <div class="content-header">
      <h1 class="content-header-title">Transaction not found</h1>
    </div>
  </div>
</ng-template>